<aside class="archive">
  <div class="container">
    <h3>Posts</h3>
    <ol>
      {% for post in site.posts %}
        {% if post.published %}
          <li>
            <a href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a
          </li>
        {% endif %}
      {% endfor %}
    </ol>
  </div>
</aside>

<footer>
  <div class="container">
    <section>
      <h3 class="text-center">
        Every month, I'll send you an email with personal updates.
      </h3>

      {% include newsletter.html %}

    </section>
  </div>
</footer>

<footer class="dark-bg small">
  <div class="container">
    <ul class="inline unstyled">
      <li><a href="/" title="Go to Albert Zak's Home Page">Home</a></li>
      <li><a href="mailto:{{ site.email }}" title="Send Albert Zak an Email">{{ site.email }}</a>
      <li><a href="/imprint/" title="Information required by Austrian law">Imprint</a></li>
    </ul>
  </div>
</footer>

<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', '{{ site.google_analytics_id }}', 'auto');
  ga('send', 'pageview');

</script>
