// a-unstyled

.a-unstyled a,
.a-unstyled a:link,
.a-unstyled a:visited {
  color: $text-color;
  text-decoration: none;
}

// ul-unstyled

ul li,
ol li {
  color: #ababab;
}

li span,
li b,
li strong {
  color: #2d2e37;
  font-weight: normal;
}

.ul-unstyled ul,
ul.unstyled {
  padding-left: 0;
  margin-left: 0;
  list-style-type: none;
}

.ul-unstyled ul li,
ul.unsttled li {
  color: $text-color;
}

// ul-inline

.ul-inline ul li,
ul.inline li {
  display: inline;
  margin-right: 5px;
}

.ul-inline ul li:last-child,
ul.inline li:last-child {
  margin-right: 0;
}

li em {
  display: block;
  padding-left: 10px;
  margin-left: 15px;
  margin-bottom: 10px;
  border-left: 4px solid #ececec;
  font-size: 90%;
  line-height: 1.6;
  font-style: normal;
}
