body {
  font-family: $font;
  font-weight: 400;
  font-size: 120%;
  line-height: 2.1;
  width: 100%;
}

h1, h2, h3, h4, h5,
.h1, .h2, .h3, .h4, .h5 {
  font-family: $font;
  font-weight: 700;
  text-align: left;
}

h1,
.h1 {
  font-size: 200%;
}

h2,
.h2 {
  font-size: 150%;
}

.aside {
  padding: 40px 0 0 40px;
}

.muted {
  color: #ababab;
}

.block {
  display: block;
}

small, .small {
  font-size: 70%;
}

footer .muted {
  color: #cccccc;
}

.inline {
  display: inline;
}

.span {
  font-size: 100%;
}

.container {
  max-width: 750px;
  min-width: 120px;
  margin: auto auto;
  padding: 20px;
}

article {
  background-color: $background-color;
}

footer {
  background-color: rgb(130,147,157);
  color: #f1faff;
  width: 100%;
  text-align: center;
}

.dark-bg {
  background-color: rgb(69,78,84);
  color: #bbc2c6;
}

.dark-bg a, a:link, a:visited {
  color: #bbc2c6;
}

.dark-bg a:hover {
  color: #d4e4ee;
}

.dark-bg a:active {
  color: #8c9499;
}

.rounded {
  border-radius: 100%;
}

aside {
  background: $header-background;
}


input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
}

input {
  padding: 10px;
  border: solid 5px #b4bbbe;
  transition: border 0.3s;
  font-family: $font;
  font-weight: 400;
  min-width: 150px;
  max-width: 300px;
  width: 100%;
  font-size: 100%
}

input:focus,
input.focus {
  border: solid 5px #e7f0f4;
}

input[type="text"],
input[type="email"] {
  background-color: #67757d;
  color: #f1faff;
}

input[type="submit"] {
  background: transparent;
  color: #f1faff;
  width: 190px;
}

input[type="submit"]:hover {
  background: #e7f0f4;
  color: #454e54;
};

input[type="submit"]:active {
  background: #f1faff;
  color: #454e54;
};

::-webkit-input-placeholder {
   color: #d1d9dd;
}

:-moz-placeholder {
   color: #d1d9dd;  
}

::-moz-placeholder {
   color: #d1d9dd;  
}

:-ms-input-placeholder {  
   color: #d1d9dd;  
}

#mc_embed_signup {
  clear: left;
  text-align: center;
  padding-bottom: 20px;
}

#mc_embed_signup label {
  display: none;
}

#mc_embed_signup input.button,
#mc_embed_signup input.email {
  margin: 20px auto auto;
}

.header {

  background: $header-background;

  .photo {
    max-height: 150px;
    max-width: 150px;
  }

  .title {
    font-size: 100%;
  }

}

.home .header {

  background: $background-color;
  
  aside {
    background: $background-color;
  }

  .photo {
    max-height: 300px;
    max-width: 300px;
  }

  .title {
    font-size: 200%;
  }

}

